body {
  margin: auto;
  font-family: 'inter',sans-serif;
  color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#d0e8ff, #3dc2ff);
  overflow: hidden;
  text-align: center;
  
}


.card {
  border-radius: 8px;
  padding: 15px;
  margin-top: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.46);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.hidden {
  display: none;
}

.search-container {
  display: flex;
  gap: 5px; /* mellanrum mellan input och knapp */
  margin-bottom: 10px;
}

input {
  flex: 1; /* input tar upp allt utrymme */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px 0 0 8px; /* rundade hörn på vänster sida */
  outline: none;
}

.btn-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.cloud {
  position: absolute;
  width: 100px; 
  opacity: 0.7; 
}

.cloud1 {
  top: 10%;
  left: 15%;
}

.cloud2 {
  top: 30%;
  right: 20%;
}

.cloud3 {
  bottom: 15%;
  left: 25%;
}


