html {
    min-height: 800px;
    background: linear-gradient(45deg,#1c209a,rgb(38, 90, 143),rgb(36, 104, 104));
    margin: 5px;

}

body {
    text-align: center;
    width: 100%;
}
#input-section {
    margin-top: 180px;

}
#weatherInfo {
    margin-top: 200px;
    background-color: white;
    border-radius: 20px;
    width: 80%;
    justify-content: center;
}


